//------------------------------------------
// Generic variables.
//------------------------------------------

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Open Sans', serif;
$font-family-heading: 'Open Sans', serif;

// Theme colours.
$primary-colour: #40a766;
$secondary-colour: #2e3037;
$tertiary-colour: #cb0032;

$primary-text-colour: #333;
$secondary-text-colour: #fff;
$tertiary-text-colour: #000;